@font-face {
    font-family: myFirstFont;
    src: url(Amaranth-Regular.otf);
}
/*60b0f4 blue*/
html {
	background-color: #27310e;
}
#index {
	background-color: #27310e;
}

.container-fluid {
	background-color: #27310e;
}

.img-fluid.logo {
	height: 180px;
	width: 150px;

}

.col-lg-12.logo {
	top: 10px;
	height: 190px;
	background-color: #27310e;
	text-align: center;
}

.col-lg-12.desc h1{
	padding-top: 20px;
	font-size: 26px;
	font-family: myFirstFont;
	height: 80px;
	background-color: #27310e;
	text-align: center;
	color: white;
}

.col-lg-12.apis h1{
	padding-top: 20px;
	font-size: 56px;
	font-family: myFirstFont;
	height: 80px;
	background-color: #27310e;
	text-align: center;
	color: white;
}

.aapis:hover {
	text-decoration: none;
	color: white;

}
.aapis {
	color: #60b0f4;
	text-decoration: none;
}

.space {
	padding-bottom: 20px;
}
.col-lg-6.cry {
	border-width: 1px;
	border-collapse: separate;
	border-style: solid;
	border-color: #60b0f4;
	height: 320px;
}

.col-lg-6.cry h1{
	padding-top: 10px;
	font-size: 46px;
	font-family: myFirstFont;
	color: #60b0f4;
	text-decoration: none;
	background-color: #27310e;
	text-align: center;
	color: white;
}
.col-lg-6.stock h1{
	padding-top: 10px;
	font-size: 46px;
	font-family: myFirstFont;
	color: #60b0f4;
	text-decoration: none;
	background-color: #27310e;
	text-align: center;
	color: white;
}

.col-lg-12.crdes {
	text-align: center;
	font-family: myFirstFont;
	font-size: 26px;
	color: white;
}

td {
	color: white;

}
tr {
	color: white;

}
thead {
	color: white;

}
.col-lg-6.user h1{
	padding-top: 10px;
	font-size: 46px;
	font-family: myFirstFont;
	color: #60b0f4;
	text-decoration: none;
	background-color: #27310e;
	text-align: center;
}

.dbex {
	padding-top: 10px;
	font-size: 26px;
	font-family: myFirstFont;
	background-color: #27310e;
	text-align: center;
	color: white;
	border-bottom: solid;
	border-width: 1px;
	border-bottom-color: white;

}
.dbe {
	font-size: 16px;
	font-family: myFirstFont;
	height: 80px;
	background-color: #27310e;
	text-align: center;
	color: white;
	
}
.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #60b0f4;
  color:white;
}

div.galpad {
    margin: 1px;
    border: 1px solid #ccc;
    /*float: left;*/
/*    width: 180px;*/
}

div.galpad:hover {
    border: 4px solid #60b0f4;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.descrip {
    padding: 10px;
    text-align: center;
    background-color: #60b0f4;
}

.not-necessary {
	font-size: 3px;
	position: absolute;
	right: 0px;
	top: 0px;
}

.creator {
	margin-top: 15px;
	color: white;
	font-size: 6px;
	text-align: center;
}


